[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic-settings = "*"
python-dotenv = "*"
uvicorn = "*"
nltk = "*"
googletrans = "==4.0.0rc1"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "python app.py"
